/*Day-5*/
/*universal selector*/
*{
    margin:0%;
    font-family:sans-serif;
}
#navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    background-color: rgb(109, 2, 109);
    padding:5px;
}
#navbar a{
    color:white;
    font-size:15px;
    text-decoration:none;
}
#navbar a:hover{
    text-decoration:underline;
}
/*Day-6*/
#about{
    display: flex;
    flex-direction: row;
    background-image: url("https://img.magnific.com/free-vector/gradient-purple-color-background-modern-wave-abstract-designs_343694-2361.jpg?semt=ais_hybrid&w=740&q=80");
    background-repeat:no-repeat;
    width:100vw;
    height:70vh;
    background-size:cover;
}
.aboutleft{
    width:50%;
    padding:50px;
}
.aboutright{
    width:50%;
    padding:5px 100px;
}
.aboutleft h1{
    margin-bottom: 20px;
    color: white;
}
.aboutleft h2{
    margin-bottom:20px;
    color:white;
}
.aboutleft {
    width: 50%;
    color:white;
    padding: 50px 50px 50px 100px;
}
.aboutbtns button{
    background-color: gold;
    margin-top:40px;
    padding: 10px;
    font-weight:bold;
    border:none;
}
.aboutbtns button:hover{
    background-color:white;
    border:2px solid black;
}
.section2{
    text-align:center;
    margin:20px 0px;
}
#achievements{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    text-align:center;
}
.card{
   height: 300px;
    border:0.6px solid grey;
    margin:20px;
    padding:20px;
    border-radius:10px;
    box-shadow:2px 3px 10px grey;
}
.card img{
    width: 100px;
}
/*DAY-7*/
.heading{
    text-align:center;
    margin-top: 2%;
    margin-bottom: 4%;
}
#projects{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    text-align:center;
    margin-bottom:4%;
}
.card1{
    width:300px;
    height:400px;
    box-shadow: -2px -3px 15px grey;
    padding:10px;
}
.card1 img{
    width: 90%;
    height: 140px;
    object-fit: contain;
}
.card1 p{
    margin-bottom:10px;
}
.card1 a{
    text-decoration:none;
    color:black;
    background-color:gold;
    padding: 10px;
    position:relative;
    top:30px;
}
#education{
    background-color:rgb(84, 1, 84);
    padding:50px;
}
.tablecontent{
    width:100%;
    text-align:center;
    border:2px solid white;
    color:white;
}
th,td{
    padding:20px;
}
th{
    color:gold;
}
#contactform{
    display:flex;
    flex-direction:column;
    width:500px;
    padding:60px;
}
#contact{
    display:flex;
    flex-direction:row;
}
#contactform label{
    margin-bottom:5px;
    margin-top:10px;
}
#contactform input{
    padding:10px;
}
#contactform textarea{
    padding:30px;
}
#contactform button{
    background-color:black;
    border:2px solid white;
    color:white;
    padding:10px;
    margin-top:10px;
}
